.container-cardPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}
.info-cardPage {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: auto auto -2rem auto;    

}

.topics-country {
    height: 300px;
}
.name-country {
    display: flex;
    align-items: flex-start;
}
.name-country h1{
    font-size: 3rem;
}
.flag-cardPage {
    display: flex;
    justify-content: flex-start;
    height: 350px;
    width: 500px;
    background-size: cover;
    background-position: center;
}
.top-infos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
}
.compilado,
.compilado ul {
    display: flex;
    gap: 0rem;
    width: 300px;
    flex-wrap: wrap;
  
}
.compilado ul li{
    padding-left: 3px;
}

.others-info {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.borders {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.5rem;
    width: 500px;
    flex-wrap: wrap;
}

.borders span {
    background-color: var(--span-bg);
    padding: 10px;
    cursor: pointer;
}



@media (max-width: 1024px) {
    .info-cardPage {
        margin: auto 1rem -1rem 1rem;    
    }
    .name-country h1{
        font-size: 2rem;
    }
    .top-infos {
        flex-direction: column;
        gap: 0rem;  
    }
    .flag-cardPage {
        height: 400px;
        width: 600px;
    }
    .borders {
        margin-top: 0;
        gap: 0.8rem;
        width: 450px;
    }
    
    .borders span {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .info-cardPage {
        margin: auto 0.5rem 2rem 0.5rem;
        gap: 1rem;    
    }
    .name-country h1{
        font-size: 1.5rem;
    }

    .flag-cardPage {
        height: 300px;
        width: 500px;
    }
    .borders {
        margin-top: 0;
        gap: 0.5rem;
        width: 380px;
    }
    
    .borders span {
        font-size: 0.7rem;
    }
}
@media (max-width: 425px) {
    .container-cardPage {
        height: 150vh;
    }
    .info-cardPage {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 5rem auto 1rem auto;    
    
    }
    .flag-cardPage {
        height: 200px;
        width: 400px;
    }
    .borders {
        margin-top: 0.5rem;
        gap: 0.5rem;
        width: 350px;
        margin-bottom: 3rem;
    }
    
    .borders span {
        font-size: 0.6rem;
    }

}
@media (max-width: 375px) {

    .flag-cardPage {
        height: 150px;
        width: 350px;
    }
    .borders {
        width: 290px;
    }


}
@media (max-width: 320px) {

    .flag-cardPage {
        height: 150px;
        width: 300px;
    }
    .borders {
        width: 290px;
    }


}